#reviewContent {
    /* background-color: darkcyan; */
    width: 90%;
    max-width: 90%;
    height: auto;
}

#titleCoverContainer {
    /* background-color: red; */
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}

#title {
    /* background-color: aqua; */
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;

    text-align: center;
    font-size: 4rem;
    font-family: "DeezerFont";
    color: #eaeaea;
    margin-bottom: 1rem;
}

#coverContainer {
    /* background-color: red; */
    /* display: flex; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#coverContainer:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    height: 80%;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}



#cover {
    width: 100%;
    position: absolute;
    left: 0%;
    top: -50%;
    /* filter: blur(2px); */
}

#descriptionContainer{
    /* background-color: red; */
    width: 90%;
    max-width: 60vw;
    margin: auto;
    overflow-wrap: break-word;
}

#description {
    white-space: pre-line;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    width: 100%;
}

#finalScore {
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#reviewFooter{
    /* background-color: aqua; */
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}