#albumContainer {
    display: flex;
    flex-direction: column;
}

#albumImage {
    max-width: 250px;
    max-height: 250px;
    position: relative;
    transition-duration: 0.5s;
}

#imageContainer {
    /* background-color: aqua; */
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}

#filter {
    background-color: white;
    width: 250px;
    height: 250px;
    opacity: 0;
    position: absolute;
}

#albumImage:hover #filter{
    opacity: 0.24;
}

#albumImage:hover{
    box-shadow: 0 1px 6px rgba(25,25,34,.24);
}

#image {
    /* border-radius: 50%; */
    /* opacity: 0; */
}

#playButtonContainer {
    position: absolute;
    bottom: 16px;
    left: 15px;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    display: block;
}

#playButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border: none;
    cursor: pointer;
}

#playButton:hover {
    background-color: #f4f4f4;
}

#infoContainer {
    display: block;
}

#info {
    text-align: left;
}

#name {
    text-align: left;
    font-size: 14px;
}

#fans {
    font-size: 12px;
    line-height: 18px;
}

#explicit {
    display: inline-block;
    margin-top: 6px;
    color: #c2c2ca;
    border: 1px solid #c2c2ca;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 2px 6px;
    text-align: center;
    float: left;
}

#reviewButtonContainer {
    position: absolute;
    bottom: 16px;
    right: 15px;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    display: block;
}

#reviewButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border: none;
    cursor: pointer;
}

#reviewButton:hover {
    background-color: #f4f4f4;
}