#navBarContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 11;
    width: 220px;
    height: 100%;

    border-right: #eaeaea;
    border-right-style: solid;
    border-width: 1px;
}